In [1]:
import pandas as pd
import numpy as np

In [3]:
waived_df = pd.read_csv("Data/player_identification/waived_data_with_id.csv")

In [4]:
stats_df = pd.read_csv("Data/season_counting_stats.csv")

In [6]:
waived_df.head(3)

   season_start          date      player_name team_abv  player_id
0          1990  July 5, 1990    Anthony Bowie      HOU        194
1          1990  July 9, 1990      Randy Allen      SAC      76025
2          1990  July 9, 1990  Michael Jackson      SAC      77104

In [7]:
stats_df.head(3)

,PLAYER_ID,SEASON_ID,LEAGUE_ID,TEAM_ID,TEAM_ABBREVIATION,PLAYER_AGE,GP,GS,MIN,FGM,...,DREB,REB,AST,STL,BLK,TOV,PF,PTS,NAME,SEASON_START
0,2,1983-84,0,1610612747,LAL,23.0,74,49.0,1637.0,334,...,114.0,164.0,177,81.0,19.0,116.0,174,788,Byron Scott,1983
1,2,1984-85,0,1610612747,LAL,24.0,81,65.0,2305.0,541,...,153.0,210.0,244,100.0,17.0,138.0,197,1295,Byron Scott,1984
2,2,1985-86,0,1610612747,LAL,25.0,76,62.0,2190.0,507,...,134.0,189.0,164,85.0,15.0,110.0,167,1174,Byron Scott,1985

In [8]:
player_id = 194

if player_id in waived_df.player_id: ## if they were ever waived
    tuple = (stats_df,)
    print('yes')

yes

In [10]:
stats_df.PLAYER_ID

0              2
1              2
2              2
3              2
4              2
          ...
29924    1641970
29925    1641998
29926    1641998
29927    1641998
29928    1642013
Name: PLAYER_ID, Length: 29929, dtype: int64

In [ ]:
pd.merge(stats_df, waived_df, 
         on=[“PLAYER_ID”, “SEASON_START”, “TEAM_ABBREVIATION”], how=“left”)

In [11]:
waived_df.rename(columns={'player_id':'PLAYER_ID', 'season_start':'SEASON_START', 'team_abv': 'TEAM_ABBREVIATION'}, inplace = True)

In [12]:
waived_df

,SEASON_START,date,player_name,TEAM_ABBREVIATION,PLAYER_ID
0,1990,"July 5, 1990",Anthony Bowie,HOU,194
1,1990,"July 9, 1990",Randy Allen,SAC,76025
2,1990,"July 9, 1990",Michael Jackson,SAC,77104
3,1990,"July 24, 1990",Melvin Turpin,WSB,78386
4,1990,"August 10, 1990",Scott Haffner,MIA,76911
...,...,...,...,...,...
4830,2023,"April 4, 2024",Terry Taylor,CHI,1630678
4831,2023,"April 5, 2024",Isaiah Livers,WAS,1630587
4832,2023,"April 13, 2024",Joshua Primo,LAC,1630563
4833,2023,"April 17, 2024",Jontay Porter,TOR,1629007
4834,2023,"June 24, 2024",Mouhamadou Gueye,TOR,1631338

In [18]:
merged_df = pd.merge(stats_df, waived_df, 
         on=['PLAYER_ID', 'SEASON_START', 'TEAM_ABBREVIATION'], how='left')

In [26]:
merged_df.loc[merged_df['PLAYER_ID'] == 192]

,PLAYER_ID,SEASON_ID,LEAGUE_ID,TEAM_ID,TEAM_ABBREVIATION,PLAYER_AGE,GP,GS,MIN,FGM,...,AST,STL,BLK,TOV,PF,PTS,NAME,SEASON_START,date,player_name
1477,192,1990-91,0,1610612753,ORL,22.0,82,73.0,2336.0,503,...,134,62.0,25.0,127.0,203,1284,Dennis Scott,1990,NaN,NaN
1478,192,1991-92,0,1610612753,ORL,23.0,18,15.0,608.0,133,...,35,20.0,9.0,31.0,49,359,Dennis Scott,1991,NaN,NaN
1479,192,1992-93,0,1610612753,ORL,24.0,54,43.0,1759.0,329,...,136,57.0,18.0,104.0,131,858,Dennis Scott,1992,NaN,NaN
1480,192,1993-94,0,1610612753,ORL,25.0,82,37.0,2283.0,384,...,216,81.0,32.0,93.0,161,1046,Dennis Scott,1993,NaN,NaN
1481,192,1994-95,0,1610612753,ORL,26.0,62,10.0,1499.0,283,...,131,45.0,14.0,57.0,119,802,Dennis Scott,1994,NaN,NaN
1482,192,1995-96,0,1610612753,ORL,27.0,82,82.0,3041.0,491,...,243,90.0,29.0,122.0,169,1431,Dennis Scott,1995,NaN,NaN
1483,192,1996-97,0,1610612753,ORL,28.0,66,62.0,2166.0,298,...,139,74.0,19.0,81.0,138,823,Dennis Scott,1996,NaN,NaN
1484,192,1997-98,0,1610612742,DAL,29.0,52,42.0,1797.0,258,...,129,43.0,32.0,92.0,121,707,Dennis Scott,1997,NaN,NaN
1485,192,1997-98,0,1610612756,PHX,29.0,29,3.0,493.0,71,...,24,10.0,7.0,12.0,31,181,Dennis Scott,1997,NaN,NaN
1486,192,1997-98,0,0,TOT,29.0,81,45.0,2290.0,329,...,153,53.0,39.0,104.0,152,888,Dennis Scott,1997,NaN,NaN
1487,192,1998-99,0,1610612752,NYK,30.0,15,0.0,206.0,17,...,8,3.0,1.0,5.0,17,43,Dennis Scott,1998,"March 13, 1999",Dennis Scott
1488,192,1998-99,0,1610612750,MIN,30.0,21,9.0,532.0,70,...,32,12.0,2.0,14.0,32,191,Dennis Scott,1998,NaN,NaN
1489,192,1998-99,0,0,TOT,30.0,36,9.0,738.0,87,...,40,15.0,3.0,19.0,49,234,Dennis Scott,1998,NaN,NaN
1490,192,1999-00,0,1610612763,VAN,31.0,66,0.0,1263.0,125,...,69,28.0,9.0,30.0,104,369,Dennis Scott,1999,NaN,NaN

In [27]:
merged_df['WAIVED'] = 0
merged_df.loc[merged_df['date'].notnull(), 'WAIVED'] = 1

In [29]:
merged_df.loc[merged_df['PLAYER_ID'] == 192]

,PLAYER_ID,SEASON_ID,LEAGUE_ID,TEAM_ID,TEAM_ABBREVIATION,PLAYER_AGE,GP,GS,MIN,FGM,...,STL,BLK,TOV,PF,PTS,NAME,SEASON_START,date,player_name,WAIVED
1477,192,1990-91,0,1610612753,ORL,22.0,82,73.0,2336.0,503,...,62.0,25.0,127.0,203,1284,Dennis Scott,1990,NaN,NaN,0
1478,192,1991-92,0,1610612753,ORL,23.0,18,15.0,608.0,133,...,20.0,9.0,31.0,49,359,Dennis Scott,1991,NaN,NaN,0
1479,192,1992-93,0,1610612753,ORL,24.0,54,43.0,1759.0,329,...,57.0,18.0,104.0,131,858,Dennis Scott,1992,NaN,NaN,0
1480,192,1993-94,0,1610612753,ORL,25.0,82,37.0,2283.0,384,...,81.0,32.0,93.0,161,1046,Dennis Scott,1993,NaN,NaN,0
1481,192,1994-95,0,1610612753,ORL,26.0,62,10.0,1499.0,283,...,45.0,14.0,57.0,119,802,Dennis Scott,1994,NaN,NaN,0
1482,192,1995-96,0,1610612753,ORL,27.0,82,82.0,3041.0,491,...,90.0,29.0,122.0,169,1431,Dennis Scott,1995,NaN,NaN,0
1483,192,1996-97,0,1610612753,ORL,28.0,66,62.0,2166.0,298,...,74.0,19.0,81.0,138,823,Dennis Scott,1996,NaN,NaN,0
1484,192,1997-98,0,1610612742,DAL,29.0,52,42.0,1797.0,258,...,43.0,32.0,92.0,121,707,Dennis Scott,1997,NaN,NaN,0
1485,192,1997-98,0,1610612756,PHX,29.0,29,3.0,493.0,71,...,10.0,7.0,12.0,31,181,Dennis Scott,1997,NaN,NaN,0
1486,192,1997-98,0,0,TOT,29.0,81,45.0,2290.0,329,...,53.0,39.0,104.0,152,888,Dennis Scott,1997,NaN,NaN,0
1487,192,1998-99,0,1610612752,NYK,30.0,15,0.0,206.0,17,...,3.0,1.0,5.0,17,43,Dennis Scott,1998,"March 13, 1999",Dennis Scott,1
1488,192,1998-99,0,1610612750,MIN,30.0,21,9.0,532.0,70,...,12.0,2.0,14.0,32,191,Dennis Scott,1998,NaN,NaN,0
1489,192,1998-99,0,0,TOT,30.0,36,9.0,738.0,87,...,15.0,3.0,19.0,49,234,Dennis Scott,1998,NaN,NaN,0
1490,192,1999-00,0,1610612763,VAN,31.0,66,0.0,1263.0,125,...,28.0,9.0,30.0,104,369,Dennis Scott,1999,NaN,NaN,0

In [34]:
merged_df.shape

(30022, 32)

In [32]:
salaries_df = pd.read_csv("player_salaries_player_id.csv")

In [33]:
salaries_df

,Unnamed: 0,Year,Team,Player,Salary,Percent_team_salary,PLAYER_ID
0,0,1991.0,BOS,Larry Bird,7070000.0,0.278972,1449
1,1,1991.0,BOS,Kevin McHale,3500000.0,0.138105,1450
2,2,1991.0,BOS,Reggie Lewis,3340000.0,0.131792,77384
3,3,1991.0,BOS,Robert Parish,3000000.0,0.118376,305
4,4,1991.0,BOS,Kevin Gamble,1400000.0,0.055242,333
...,...,...,...,...,...,...,...
16855,16855,2023.0,WAS,Justin Champagnie,254412.0,0.001686,1630551
16856,16856,2023.0,WAS,John Butler,147988.0,0.000981,no_id
16857,16857,2023.0,WAS,Hamidou Diallo,134863.0,0.000894,1628977
16858,16858,2023.0,WAS,RJ Hampton,120250.0,0.000797,no_id
16859,16859,2023.0,WAS,Trey Jemison,64343.0,0.000427,1641998