## Adding ID Numbers
In order to match up all the CSV files uniquely, this will add the player id's from the list player_id_name.csv to the waived and traded data. Things to do

- Load in the csv's player_id_name.csv and nonunique_player_names.csv
- Load in the outgoing csv "waived_data.csv"
- Add a column ID number to "waived_data.csv"
- Write a function to go through and find the id number for each player in "waived_data.csv" temporarily assign an id number of -1 to nonunique players.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style("whitegrid")

In [2]:
playerIDs = pd.read_csv("player_id_name.csv")
NonUniqueNames = pd.read_csv("nonunique_player_names.csv")

In [3]:
playerIDs.sample(10)

      PLAYER_ID                NAME
4080    1626214  Bryce Dejean-Jones
3146      78513          Rudy White
2165      77301        Frank Kornet
3432     201147        Corey Brewer
58           95         Mark Bryant
4643    1630529       Herbert Jones
3258     101107     Marvin Williams
4533    1629783       Shaq Buchanan
3906     203540         Gigi Datome
2507      77718          Mike Niles

In [4]:
NonUniqueNames.sample(10)

    PLAYER_ID              NAME
2         121     Patrick Ewing
49      78209        Bill Smith
61     201945  Gerald Henderson
58     201041    Walker Russell
15       2229        Mike James
57     200848      Steven Smith
4         244         Dee Brown
48      78207        Bill Smith
31      77144     Eddie Johnson
72    1628455        Mike James

In [5]:
print('Michael Jordan' in playerIDs['NAME'].values)

True

In [6]:
WaivedList = pd.read_csv("../waived_data.csv")

In [7]:
WaivedList.sample(10)

      season_start              date            player_name team_abv
396           1994  November 3, 1994          Luther Wright      UTA
4657          2023  October 19, 2023          Javonte Green      GSW
3571          2019  October 19, 2019          Kenny Gabriel      ATL
2691          2016  October 18, 2016  Egidijus MockeviÄius      BRK
3412          2019      July 4, 2019        Frank Mason III      SAC
3117          2017      May 11, 2018        Tyler Cavanaugh      ATL
303           1993  November 2, 1993           Ashraf Amaya      HOU
297           1993  November 2, 1993            Rod Higgins      PHO
1324          2004     April 4, 2005            Dion Glover      SAS
1182          2003  October 27, 2003        Zendon Hamilton      GSW

In [8]:
def get_id(Player):
#    if Player in NonUniqueNames['NAME'].values:
#        return -1
    IDList = playerIDs.index[playerIDs['NAME'] == Player].to_list()
    if (len(IDList) == 0):
        return -2
    if (len(IDList) == 1):
        return playerIDs['PLAYER_ID'][IDList[0]]
    if (len(IDList) > 1):
        return -1

In [9]:
playerIDs.index[playerIDs['NAME'] == 'Kobe Bryant'].to_list()

[441]

In [10]:
get_id('Kobe Bryant')

np.int64(977)

In [11]:
waived_data = pd.read_csv("../waived_data.csv")

In [12]:
waived_data.head(100)

    season_start              date       player_name team_abv
0           1990      July 5, 1990     Anthony Bowie      HOU
1           1990      July 9, 1990       Randy Allen      SAC
2           1990      July 9, 1990   Michael Jackson      SAC
3           1990     July 24, 1990     Melvin Turpin      WSB
4           1990   August 10, 1990     Scott Haffner      MIA
..           ...               ...               ...      ...
95          1991   October 9, 1991     Mike Morrison      ORL
96          1991  October 11, 1991     Scott Haffner      CHH
97          1991  October 14, 1991     Howard Wright      DEN
98          1991  October 22, 1991  Darrell Griffith      UTA
99          1991  October 23, 1991   Adrian Caldwell      HOU

[100 rows x 4 columns]

In [13]:
waived_data['PLAYER_ID'] = waived_data['player_name'].apply(get_id)

In [14]:
waived_data.sample(26)

      season_start                date        player_name team_abv  PLAYER_ID
3375          2018    February 7, 2019        Greg Monroe      BRK     202328
4549          2023  September 18, 2023     Bryce Hamilton      LAL         -2
3314          2018    October 13, 2018       Steph Branch      UTA         -2
1172          2003    October 22, 2003    Jonathan Kerner      NJN       1801
1026          2001    October 25, 2001      Mengke Bateer      DEN       2370
635           1997   September 5, 1997         Gary Grant      SAC        202
2875          2017        July 2, 2017       Tyler Zeller      BOS     203092
2227          2014    October 20, 2014        Josh Bostic      DET         -2
740           1998    February 2, 1999        Damon Jones      ORL       1800
3164          2018     August 31, 2018    DeAndre Liggins      NOP     202732
1924          2012    October 24, 2012       Marko JariÄ      CHI         -2
4377          2022    October 15, 2022       Jalen Harris      NYK    1630223
389           1994    November 1, 1994     Derrick Phelps      MIL         74
3426          2019       July 13, 2019       Jaylen Adams      ATL    1629121
3000          2017    October 14, 2017    Amile Jefferson      MIN    1628518
756           1998   February 18, 1999       Jamie Watson      MIA        320
3248          2018    October 12, 2018       Donald Sloan      DEN     202388
3279          2018    October 13, 2018    Markel Crawford      MEM         -2
4104          2021    October 18, 2021    Al-Farouq Aminu      SAS     202329
4042          2021    October 16, 2021  Bennie Boatwright      IND         -2
4405          2022    October 15, 2022    Jamorko Pickett      CLE    1630691
3405          2018       April 7, 2019   Luc Mbah a Moute      LAC     201601
4057          2021    October 16, 2021         Dante Exum      HOU     203957
1945          2012    October 27, 2012      Alando Tucker      MIL     201169
2109          2013    October 28, 2013        Malcolm Lee      WAS     202723
1498          2007   November 17, 2007    StÃ©phane Lasme      GSW         -2

In [15]:
MissingNameList = waived_data[waived_data['PLAYER_ID'] == -2]

In [16]:
len(MissingNameList)

897

In [17]:
NonUniqueNameList = waived_data[waived_data['PLAYER_ID'] == -1]

In [18]:
len(NonUniqueNameList)

72

In [19]:
len(waived_data)

4835

In [20]:
player_id_season = pd.read_csv("player_id_season.csv")

In [21]:
player_id_season.sample(10)

       PLAYER_ID  SEASON_START             NAME
22698    1628368          2023     De'Aaron Fox
24247    1630561          2022   David Duke Jr.
7227        2211          2011      Troy Murphy
12639      77152          1973     John Johnson
24282    1630581          2021      Josh Giddey
9727       76253          1973     Bill Bridges
14607      77786          1981        Tom Owens
3438         739          2005  Rasheed Wallace
13459      77411          1969   Kevin Loughery
567           89          2000    Nick Van Exel

In [67]:
NonUniqueNameList.sample(2)

      season_start               date    player_name team_abv  PLAYER_ID
3005          2017   October 14, 2017  Tony Mitchell      MIA         -1
1578          2008  December 10, 2008      Dee Brown      WAS         -1

There is a mismatch in team abbreviations for season_counting_stats and waived_data
waived_data = season_counting_stats
SAS = SAN
PHO = PHX

In [23]:
player_id_name = pd.read_csv("player_id_name.csv")
season_counting_stats = pd.read_csv("../season_counting_stats.csv")
season_counting_stats['TEAM_ABBREVIATION'] = season_counting_stats['TEAM_ABBREVIATION'].replace({'SAN': 'SAS', 'PHX': 'PHO'})
def disambiguate(row):
    Player = row['player_name']
    IDList = player_id_name.index[player_id_name['NAME'] == Player].to_list()
    if len(IDList) == 1:
        return player_id_name['PLAYER_ID'][IDList[0]]
    SeasonStart = row['season_start']
    Team = row['team_abv']
    #print(Player, " ", SeasonStart, " ", Team)
    IDList = season_counting_stats.index[(season_counting_stats['NAME'] == Player) & (season_counting_stats['SEASON_START'] == SeasonStart)].to_list()
    #print("With just name and year: ", Player, " ", SeasonStart, " ", IDList)
    if len(IDList) == 1:
        return season_counting_stats['PLAYER_ID'][IDList[0]]
    if len(IDList) > 1:
        IDList = season_counting_stats.index[(season_counting_stats['NAME'] == Player) & (season_counting_stats['SEASON_START'] == SeasonStart) & (season_counting_stats['TEAM_ABBREVIATION'] == Team)].to_list()
        #print("With name, year, and season", Player, " ", SeasonStart, " ", IDList)
        if len(IDList) == 1:
            return season_counting_stats['PLAYER_ID'][IDList[0]]
        if len(IDList) > 1:
            return -1
        if len(IDList) == 0:
            return -3
    if len(IDList) == 0:
        return -3

In [156]:
NonUniqueNameList['PLAYER_ID'] = NonUniqueNameList.apply(disambiguate, axis=1)

Reggie Williams   1990   SAS
With just name and year:  Reggie Williams   1990   [1547, 1548, 1549]
With name, year, and season Reggie Williams   1990   [1547]
Gerald Henderson   1991   HOU
With just name and year:  Gerald Henderson   1991   [14466, 14467, 14468]
With name, year, and season Gerald Henderson   1991   [14466]
Michael Smith   1991   BOS
With just name and year:  Michael Smith   1991   []
Gerald Henderson   1991   HOU
With just name and year:  Gerald Henderson   1991   [14466, 14467, 14468]
With name, year, and season Gerald Henderson   1991   [14466]
Michael Smith   1992   MIL
With just name and year:  Michael Smith   1992   []
Charles Jones   1993   DET
With just name and year:  Charles Jones   1993   [2126]
Charles Smith   1995   PHI
With just name and year:  Charles Smith   1995   [2262, 2263, 2264, 18902]
With name, year, and season Charles Smith   1995   []
Charles Smith   1995   MIN
With just name and year:  Charles Smith   1995   [2262, 2263, 2264, 18902]
With name, year, and season Charles Smith   1995   [18902]
Eddie Johnson   1996   DEN
With just name and year:  Eddie Johnson   1996   [3767, 3768, 3769]
With name, year, and season Eddie Johnson   1996   []
Brandon Williams   1997   TOR
With just name and year:  Brandon Williams   1997   [6630]
Charles Smith   1997   SAS
With just name and year:  Charles Smith   1997   [6432, 6433, 6434]
With name, year, and season Charles Smith   1997   []
Mark Davis   1998   MIA
With just name and year:  Mark Davis   1998   [3849]
Charles Jones   1999   CHI
With just name and year:  Charles Jones   1999   []
Mark Davis   1999   MIA
With just name and year:  Mark Davis   1999   [3850]
Michael Smith   1999   ORL
With just name and year:  Michael Smith   1999   [416]
Mark Davis   1999   GSW
With just name and year:  Mark Davis   1999   [3850]
Charles Jones   2000   LAC
With just name and year:  Charles Jones   2000   []
Michael Smith   2001   WAS
With just name and year:  Michael Smith   2001   []
Larry Johnson   2001   NYK
With just name and year:  Larry Johnson   2001   []
Mike James   2001   MIA
With just name and year:  Mike James   2001   [8816]
Cedric Henderson   2002   MIL
With just name and year:  Cedric Henderson   2002   []
Ken Johnson   2003   TOR
With just name and year:  Ken Johnson   2003   []
Glen Rice   2003   LAC
With just name and year:  Glen Rice   2003   [4329]
Charles Smith   2005   DEN
With just name and year:  Charles Smith   2005   [6438, 6439, 6440]
With name, year, and season Charles Smith   2005   [6439]
Steven Smith   2006   PHI
With just name and year:  Steven Smith   2006   [21908]
Marcus Williams   2007   SAS
With just name and year:  Marcus Williams   2007   [21616, 22290, 22291, 22292]
With name, year, and season Marcus Williams   2007   [22290]
Bobby Jones   2007   DEN
With just name and year:  Bobby Jones   2007   [21752, 21753, 21754, 21755, 21756, 21757]
With name, year, and season Bobby Jones   2007   [21756]
Bobby Jones   2008   NYK
With just name and year:  Bobby Jones   2008   []
Bobby Jones   2008   MIA
With just name and year:  Bobby Jones   2008   []
Dee Brown   2008   WAS
With just name and year:  Dee Brown   2008   [21774, 21775, 21776]
With name, year, and season Dee Brown   2008   [21774]
Mike James   2009   WAS
With just name and year:  Mike James   2009   [8832]
Patrick Ewing   2011   NOH
With just name and year:  Patrick Ewing   2011   []
Mike James   2011   CHI
With just name and year:  Mike James   2011   [8833]
Chris Johnson   2011   POR
With just name and year:  Chris Johnson   2011   [24177, 24178, 24179]
With name, year, and season Chris Johnson   2011   [24177]
Chris Johnson   2011   NOH
With just name and year:  Chris Johnson   2011   [24177, 24178, 24179]
With name, year, and season Chris Johnson   2011   [24178]
Chris Wright   2012   TOR
With just name and year:  Chris Wright   2012   [25303]
Walker Russell   2012   OKC
With just name and year:  Walker Russell   2012   []
Chris Johnson   2012   MIN
With just name and year:  Chris Johnson   2012   [24180, 25274]
With name, year, and season Chris Johnson   2012   [24180]
Mike James   2013   CHI
With just name and year:  Mike James   2013   [8835]
Chris Smith   2013   NYK
With just name and year:  Chris Smith   2013   [25250]
Greg Smith   2013   HOU
With just name and year:  Greg Smith   2013   [24761]
Mike James   2014   CHI
With just name and year:  Mike James   2014   []
Chris Johnson   2014   BOS
With just name and year:  Chris Johnson   2014   [25276, 25277, 25278, 25279]
With name, year, and season Chris Johnson   2014   []
Chris Johnson   2014   MIA
With just name and year:  Chris Johnson   2014   [25276, 25277, 25278, 25279]
With name, year, and season Chris Johnson   2014   []
Reggie Williams   2014   MIA
With just name and year:  Reggie Williams   2014   [23668]
Chris Johnson   2014   MIA
With just name and year:  Chris Johnson   2014   [25276, 25277, 25278, 25279]
With name, year, and season Chris Johnson   2014   []
Reggie Williams   2014   MIA
With just name and year:  Reggie Williams   2014   [23668]
Chris Wright   2014   MIL
With just name and year:  Chris Wright   2014   []
Marcus Williams   2014   DEN
With just name and year:  Marcus Williams   2014   []
Chris Johnson   2014   PHI
With just name and year:  Chris Johnson   2014   [25276, 25277, 25278, 25279]
With name, year, and season Chris Johnson   2014   [25276]
Tony Mitchell   2014   PHO
With just name and year:  Tony Mitchell   2014   []
Tony Mitchell   2015   GSW
With just name and year:  Tony Mitchell   2015   []
Chris Johnson   2015   CLE
With just name and year:  Chris Johnson   2015   [25280]
Reggie Williams   2015   SAS
With just name and year:  Reggie Williams   2015   []
Reggie Williams   2016   OKC
With just name and year:  Reggie Williams   2016   [23669]
Chris Johnson   2016   UTA
With just name and year:  Chris Johnson   2016   []
Chris Wright   2016   OKC
With just name and year:  Chris Wright   2016   []
Reggie Williams   2016   NOP
With just name and year:  Reggie Williams   2016   [23669]
Gerald Henderson   2016   PHI
With just name and year:  Gerald Henderson   2016   [23218]
Mike Dunleavy   2016   ATL
With just name and year:  Mike Dunleavy   2016   [9075, 9076, 9077]
With name, year, and season Mike Dunleavy   2016   [9076]
Marcus Williams   2017   SAC
With just name and year:  Marcus Williams   2017   []
Chris Johnson   2017   HOU
With just name and year:  Chris Johnson   2017   []
Chris Wright   2017   OKC
With just name and year:  Chris Wright   2017   []
Tony Mitchell   2017   MIA
With just name and year:  Tony Mitchell   2017   []
Mike James   2017   PHO
With just name and year:  Mike James   2017   [27971, 27972, 27973]
With name, year, and season Mike James   2017   [27971]
Mike James   2017   NOP
With just name and year:  Mike James   2017   [27971, 27972, 27973]
With name, year, and season Mike James   2017   [27972]
George King   2021   LAC
With just name and year:  George King   2021   [28244]
Chris Smith   2021   DET
With just name and year:  Chris Smith   2021   []
Brandon Williams   2022   POR
With just name and year:  Brandon Williams   2022   []
David Johnson   2022   TOR
With just name and year:  David Johnson   2022   []
Brandon Williams   2023   ORL
With just name and year:  Brandon Williams   2023   [29410]
David Johnson   2023   MEM
With just name and year:  David Johnson   2023   []

C:\Users\jandr\AppData\Local\Temp\ipykernel_5300\1644411387.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  NonUniqueNameList['PLAYER_ID'] = NonUniqueNameList.apply(disambiguate, axis=1)

In [157]:
NonUniqueNameList

      season_start                date       player_name team_abv  PLAYER_ID
64            1990   December 24, 1990   Reggie Williams      SAS        199
105           1991    October 28, 1991  Gerald Henderson      HOU      76993
122           1991    October 30, 1991     Michael Smith      BOS         -3
172           1991     January 7, 1992  Gerald Henderson      HOU      76993
207           1992    October 26, 1992     Michael Smith      MIL         -3
343           1993    February 5, 1994     Charles Jones      DET        279
459           1995    October 13, 1995     Charles Smith      PHI         -3
508           1995     January 4, 1996     Charles Smith      MIN      78179
622           1996   February 27, 1997     Eddie Johnson      DEN         -3
665           1997    October 28, 1997  Brandon Williams      TOR       1585
696           1997     January 6, 1998     Charles Smith      SAS         -3
769           1998   February 19, 1999        Mark Davis      MIA        707
807           1999      August 4, 1999     Charles Jones      CHI         -3
809           1999     August 15, 1999        Mark Davis      MIA        707
815           1999  September 29, 1999     Michael Smith      ORL         63
846           1999    November 1, 1999        Mark Davis      GSW        707
904           2000        July 7, 2000     Charles Jones      LAC         -3
986           2001       July 25, 2001     Michael Smith      WAS         -3
999           2001    October 10, 2001     Larry Johnson      NYK         -3
1022          2001    October 25, 2001        Mike James      MIA       2229
1100          2002    October 24, 2002  Cedric Henderson      MIL         -3
1181          2003    October 26, 2003       Ken Johnson      TOR         -3
1224          2003    January 16, 2004         Glen Rice      LAC        779
1383          2005       March 1, 2006     Charles Smith      DEN       1520
1435          2006     January 4, 2007      Steven Smith      PHI     200848
1485          2007    October 27, 2007   Marcus Williams      SAS     201173
1514          2007     January 7, 2008       Bobby Jones      DEN     200784
1546          2008       July 29, 2008       Bobby Jones      NYK         -3
1550          2008     August 15, 2008       Bobby Jones      MIA         -3
1578          2008   December 10, 2008         Dee Brown      WAS     200793
1664          2009       March 1, 2010        Mike James      WAS       2229
1772          2011   December 13, 2011     Patrick Ewing      NOH         -3
1826          2011    January 28, 2012        Mike James      CHI       2229
1847          2011      March 15, 2012     Chris Johnson      POR     202419
1863          2011      April 18, 2012     Chris Johnson      NOH     202419
1911          2012    October 22, 2012      Chris Wright      TOR     203203
1912          2012    October 22, 2012    Walker Russell      OKC         -3
1956          2012    October 28, 2012     Chris Johnson      MIN     202419
2114          2013   December 16, 2013        Mike James      CHI       2229
2117          2013   December 31, 2013       Chris Smith      NYK     203147
2151          2013      April 10, 2014        Greg Smith      HOU     202962
2170          2014       July 15, 2014        Mike James      CHI         -3
2190          2014  September 25, 2014     Chris Johnson      BOS         -3
2205          2014    October 13, 2014     Chris Johnson      MIA         -3
2206          2014    October 13, 2014   Reggie Williams      MIA     202130
2209          2014    October 13, 2014     Chris Johnson      MIA         -3
2210          2014    October 13, 2014   Reggie Williams      MIA     202130
2214          2014    October 16, 2014      Chris Wright      MIL         -3
2245          2014    October 22, 2014   Marcus Williams      DEN         -3
2330          2014   November 15, 2014     Chris Johnson      PHI     203187
2362          2014     January 9, 2015     Tony Mitchell      PHO         -3
2428          2015    October 12, 2015     Tony Mitchell      GSW         -3
2444          2015    October 17, 2015     Chris Johnson      CLE     203187
2551          2015    October 24, 2015   Reggie Williams      SAS         -3
2693          2016    October 19, 2016   Reggie Williams      OKC     202130
2761          2016    October 22, 2016     Chris Johnson      UTA         -3
2786          2016    October 24, 2016      Chris Wright      OKC         -3
2816          2016     January 1, 2017   Reggie Williams      NOP     202130
2869          2016       June 30, 2017  Gerald Henderson      PHI     201945
2870          2016       June 30, 2017     Mike Dunleavy      ATL       2399
2931          2017    October 10, 2017   Marcus Williams      SAC         -3
2960          2017    October 13, 2017     Chris Johnson      HOU         -3
2990          2017    October 14, 2017      Chris Wright      OKC         -3
3005          2017    October 14, 2017     Tony Mitchell      MIA         -3
3061          2017   December 22, 2017        Mike James      PHO    1628455
3097          2017   February 10, 2018        Mike James      NOP    1628455
3996          2021    October 14, 2021       George King      LAC    1628994
4177          2021       April 3, 2022       Chris Smith      DET         -3
4255          2022     October 7, 2022  Brandon Williams      POR         -3
4361          2022    October 15, 2022     David Johnson      TOR         -3
4700          2023    October 21, 2023  Brandon Williams      ORL    1630314
4716          2023    October 21, 2023     David Johnson      MEM         -3

In [158]:
NewNonUniqueNameList = NonUniqueNameList[NonUniqueNameList['PLAYER_ID'] < 0]

In [159]:
NewNonUniqueNameList

      season_start                date       player_name team_abv  PLAYER_ID
122           1991    October 30, 1991     Michael Smith      BOS         -3
207           1992    October 26, 1992     Michael Smith      MIL         -3
459           1995    October 13, 1995     Charles Smith      PHI         -3
622           1996   February 27, 1997     Eddie Johnson      DEN         -3
696           1997     January 6, 1998     Charles Smith      SAS         -3
807           1999      August 4, 1999     Charles Jones      CHI         -3
904           2000        July 7, 2000     Charles Jones      LAC         -3
986           2001       July 25, 2001     Michael Smith      WAS         -3
999           2001    October 10, 2001     Larry Johnson      NYK         -3
1100          2002    October 24, 2002  Cedric Henderson      MIL         -3
1181          2003    October 26, 2003       Ken Johnson      TOR         -3
1546          2008       July 29, 2008       Bobby Jones      NYK         -3
1550          2008     August 15, 2008       Bobby Jones      MIA         -3
1772          2011   December 13, 2011     Patrick Ewing      NOH         -3
1912          2012    October 22, 2012    Walker Russell      OKC         -3
2170          2014       July 15, 2014        Mike James      CHI         -3
2190          2014  September 25, 2014     Chris Johnson      BOS         -3
2205          2014    October 13, 2014     Chris Johnson      MIA         -3
2209          2014    October 13, 2014     Chris Johnson      MIA         -3
2214          2014    October 16, 2014      Chris Wright      MIL         -3
2245          2014    October 22, 2014   Marcus Williams      DEN         -3
2362          2014     January 9, 2015     Tony Mitchell      PHO         -3
2428          2015    October 12, 2015     Tony Mitchell      GSW         -3
2551          2015    October 24, 2015   Reggie Williams      SAS         -3
2761          2016    October 22, 2016     Chris Johnson      UTA         -3
2786          2016    October 24, 2016      Chris Wright      OKC         -3
2931          2017    October 10, 2017   Marcus Williams      SAC         -3
2960          2017    October 13, 2017     Chris Johnson      HOU         -3
2990          2017    October 14, 2017      Chris Wright      OKC         -3
3005          2017    October 14, 2017     Tony Mitchell      MIA         -3
4177          2021       April 3, 2022       Chris Smith      DET         -3
4255          2022     October 7, 2022  Brandon Williams      POR         -3
4361          2022    October 15, 2022     David Johnson      TOR         -3
4716          2023    October 21, 2023     David Johnson      MEM         -3

In [160]:
len(NewNonUniqueNameList)

34

In [24]:
waived_data = pd.read_csv("../waived_data.csv")

In [25]:
waived_data.sample(10)

      season_start               date     player_name team_abv
3602          2019   October 20, 2019    Justin Bibbs      BOS
1828          2011   February 2, 2012    Larry Hughes      ORL
2280          2014   October 25, 2014    Jarell Eddie      BOS
1660          2009  February 23, 2010    Larry Hughes      SAC
4347          2022   October 14, 2022   Jontay Porter      MIL
2176          2014      July 23, 2014   Rashard Lewis      DAL
2445          2015   October 19, 2015   Keith Appling      ORL
3802          2020  December 19, 2020    Gerald Green      HOU
4538          2023    August 29, 2023    JaVale McGee      DAL
3795          2020  December 19, 2020  Kahlil Whitney      CHO

In [26]:
len(waived_data)

4835

In [27]:
waived_data['player_id'] = waived_data.apply(disambiguate, axis=1)

In [28]:
waived_data

      season_start             date       player_name team_abv  player_id
0             1990     July 5, 1990     Anthony Bowie      HOU        194
1             1990     July 9, 1990       Randy Allen      SAC      76025
2             1990     July 9, 1990   Michael Jackson      SAC      77104
3             1990    July 24, 1990     Melvin Turpin      WSB         -3
4             1990  August 10, 1990     Scott Haffner      MIA      76911
...            ...              ...               ...      ...        ...
4830          2023    April 4, 2024      Terry Taylor      CHI    1630678
4831          2023    April 5, 2024     Isaiah Livers      WAS    1630587
4832          2023   April 13, 2024      Joshua Primo      LAC    1630563
4833          2023   April 17, 2024     Jontay Porter      TOR    1629007
4834          2023    June 24, 2024  Mouhamadou Gueye      TOR    1631338

[4835 rows x 5 columns]

In [29]:
waived_data.sample(10)

      season_start               date    player_name team_abv  player_id
2280          2014   October 25, 2014   Jarell Eddie      BOS     204067
4381          2022   October 15, 2022   Kelan Martin      NOP    1629103
505           1995  December 29, 1995    Walter Bond      DET       1603
3085          2017   February 8, 2018    Okaro White      ATL    1627855
4083          2021   October 16, 2021   Micah Potter      MIA    1630695
3012          2017   October 14, 2017  C.J. Williams      LAC     203710
2486          2015   October 23, 2015   Jeremy Tyler      HOU     202719
2000          2012  February 21, 2013    Luke Zeller      PHO     202545
510           1995    January 4, 1996    Jeff Malone      PHI        117
4131          2021    January 6, 2022  Alize Johnson      WAS    1628993

In [30]:
unmatched_waivers = waived_data[waived_data['player_id'] < 0]

In [31]:
len(unmatched_waivers)

931

In [32]:
unmatched_waivers

      season_start               date       player_name team_abv  player_id
3             1990      July 24, 1990     Melvin Turpin      WSB         -3
14            1990   October 19, 1990       Steve Bardo      ATL         -3
28            1990   October 30, 1990       Mike Holton      CHH         -3
81            1990       May 21, 1991    Dave Greenwood      SAS         -3
113           1991   October 29, 1991     MiloÅ¡ BabiÄ      MIA         -3
...            ...                ...               ...      ...        ...
4808          2023   February 9, 2024        Kevin Knox      UTA         -3
4818          2023  February 29, 2024     Marcus Morris      SAS         -3
4820          2023      March 1, 2024  Kenny Lofton Jr.      PHI         -3
4823          2023      March 2, 2024       Nate Mensah      CHO         -3
4829          2023     March 12, 2024    Taevion Kinsey      UTA         -3

[931 rows x 5 columns]

In [33]:
len(waived_data)

4835

In [34]:
waived_data.sample()

      season_start             date    player_name team_abv  player_id
1061          2001  January 8, 2002  Carlos Arroyo      TOR       2306

In [35]:
waived_data.to_csv("waived_data_with_id.csv", index = False)

In [113]:
waived_data = pd.read_csv("waived_data_with_id.csv")
unmatched_waivers = waived_data[waived_data['player_id'] < 0]
len(unmatched_waivers)

931

In [61]:
unmatched_waivers.to_csv("unmatched_waivers.csv", index = False)

In [114]:
unmatched_waivers['last_name'] = unmatched_waivers['player_name'].apply(lambda x: x.split()[-1])
player_id_name['last_name'] = player_id_name['NAME'].apply(lambda x: x.split()[-1])

C:\Users\jandr\AppData\Local\Temp\ipykernel_13012\1170152891.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  unmatched_waivers['last_name'] = unmatched_waivers['player_name'].apply(lambda x: x.split()[-1])

In [115]:
potential_matches = unmatched_waivers.merge(player_id_name, on='last_name', how='left')

In [116]:
potential_matches

,season_start,date,player_name,team_abv,player_id,last_name,PLAYER_ID,NAME
0,1990,"July 24, 1990",Melvin Turpin,WSB,-3,Turpin,78386.0,Mel Turpin
1,1990,"October 19, 1990",Steve Bardo,ATL,-3,Bardo,76097.0,Stephen Bardo
2,1990,"October 30, 1990",Mike Holton,CHH,-3,Holton,77047.0,Michael Holton
3,1990,"May 21, 1991",Dave Greenwood,SAS,-3,Greenwood,76881.0,David Greenwood
4,1991,"October 29, 1991",MiloÅ¡ BabiÄ,MIA,-3,BabiÄ,NaN,NaN
...,...,...,...,...,...,...,...,...
8701,2023,"March 1, 2024",Kenny Lofton Jr.,PHI,-3,Jr.,1641733.0,Nick Smith Jr.
8702,2023,"March 1, 2024",Kenny Lofton Jr.,PHI,-3,Jr.,1641748.0,Andre Jackson Jr.
8703,2023,"March 1, 2024",Kenny Lofton Jr.,PHI,-3,Jr.,1641854.0,Craig Porter Jr.
8704,2023,"March 2, 2024",Nate Mensah,CHO,-3,Mensah,1641877.0,Nathan Mensah
8705,2023,"March 12, 2024",Taevion Kinsey,UTA,-3,Kinsey,200814.0,Tarence Kinsey

In [129]:
single_match = potential_matches.groupby('last_name').filter(lambda x: (x['player_name'].nunique() == 1) and (x['NAME'].nunique()==1))

In [130]:
single_match.head(10)

,season_start,date,player_name,team_abv,player_id,last_name,PLAYER_ID,NAME
0,1990,"July 24, 1990",Melvin Turpin,WSB,-3,Turpin,78386.0,Mel Turpin
1,1990,"October 19, 1990",Steve Bardo,ATL,-3,Bardo,76097.0,Stephen Bardo
2,1990,"October 30, 1990",Mike Holton,CHH,-3,Holton,77047.0,Michael Holton
3,1990,"May 21, 1991",Dave Greenwood,SAS,-3,Greenwood,76881.0,David Greenwood
62,1991,"November 12, 1991",JoÃ£o Vianna,DAL,-3,Vianna,78416.0,Joao Vianna
63,1991,"November 12, 1991",Steve Bardo,SAS,-3,Bardo,76097.0,Stephen Bardo
65,1991,"January 7, 1992",Ron Grandison,CHH,-3,Grandison,97.0,Ronnie Grandison
66,1992,"October 22, 1992",Ron Grandison,ORL,-3,Grandison,97.0,Ronnie Grandison
141,1992,"January 6, 1993",Steve Bardo,DAL,-3,Bardo,76097.0,Stephen Bardo
211,1994,"October 27, 1994",Steve Bardo,PHI,-3,Bardo,76097.0,Stephen Bardo

In [131]:
single_match.head(10)

,season_start,date,player_name,team_abv,player_id,last_name,PLAYER_ID,NAME
0,1990,"July 24, 1990",Melvin Turpin,WSB,-3,Turpin,78386.0,Mel Turpin
1,1990,"October 19, 1990",Steve Bardo,ATL,-3,Bardo,76097.0,Stephen Bardo
2,1990,"October 30, 1990",Mike Holton,CHH,-3,Holton,77047.0,Michael Holton
3,1990,"May 21, 1991",Dave Greenwood,SAS,-3,Greenwood,76881.0,David Greenwood
62,1991,"November 12, 1991",JoÃ£o Vianna,DAL,-3,Vianna,78416.0,Joao Vianna
63,1991,"November 12, 1991",Steve Bardo,SAS,-3,Bardo,76097.0,Stephen Bardo
65,1991,"January 7, 1992",Ron Grandison,CHH,-3,Grandison,97.0,Ronnie Grandison
66,1992,"October 22, 1992",Ron Grandison,ORL,-3,Grandison,97.0,Ronnie Grandison
141,1992,"January 6, 1993",Steve Bardo,DAL,-3,Bardo,76097.0,Stephen Bardo
211,1994,"October 27, 1994",Steve Bardo,PHI,-3,Bardo,76097.0,Stephen Bardo

In [133]:
unique_matches = single_match.drop_duplicates(subset='player_name', keep='first')

In [134]:
unique_matches

,season_start,date,player_name,team_abv,player_id,last_name,PLAYER_ID,NAME
0,1990,"July 24, 1990",Melvin Turpin,WSB,-3,Turpin,78386.0,Mel Turpin
1,1990,"October 19, 1990",Steve Bardo,ATL,-3,Bardo,76097.0,Stephen Bardo
2,1990,"October 30, 1990",Mike Holton,CHH,-3,Holton,77047.0,Michael Holton
3,1990,"May 21, 1991",Dave Greenwood,SAS,-3,Greenwood,76881.0,David Greenwood
62,1991,"November 12, 1991",JoÃ£o Vianna,DAL,-3,Vianna,78416.0,Joao Vianna
...,...,...,...,...,...,...,...,...
7864,2023,"October 12, 2023",Joey Hauser,UTA,-3,Hauser,1630573.0,Sam Hauser
7865,2023,"October 12, 2023",Liam Robbins,NOP,-3,Robbins,77972.0,Lee Robbins
7866,2023,"October 13, 2023",Armaan Franklin,DEN,-3,Franklin,203479.0,Jamaal Franklin
8562,2023,"December 14, 2023",Sir'Jabari Rice,SAS,-3,Rice,779.0,Glen Rice
8704,2023,"March 2, 2024",Nate Mensah,CHO,-3,Mensah,1641877.0,Nathan Mensah

In [135]:
waived_data.loc[waived_data['player_id'] == -3, 'player_id'] = waived_data['player_name'].map(unique_matches.set_index('player_name')['PLAYER_ID'])

In [136]:
waived_data.sample()
waived_data['player_id'] = waived_data['player_id'].fillna(-3).astype(int)

In [137]:
waived_data.sample()

      season_start              date     player_name team_abv  player_id
1409          2006  October 24, 2006  Stephen Graham      CLE     101211

In [138]:
waived_data.sample(50)

,season_start,date,player_name,team_abv,player_id
3124,2017,"June 30, 2018",Cole Aldrich,MIN,202332
2194,2014,"September 29, 2014",Malcolm Thomas,BOS,202952
3163,2018,"August 28, 2018",Kobi Simmons,MEM,1628424
2882,2017,"July 7, 2017",Jamal Crawford,ATL,2037
4320,2022,"October 13, 2022",Matthew Hurt,MEM,1630562
1595,2008,"April 8, 2009",Malik Hairston,SAS,201612
1805,2011,"December 23, 2011",Michael Ruffin,DEN,1913
4289,2022,"October 11, 2022",Darryl Morsell,UTA,-3
4456,2022,"January 14, 2023",Jarrett Culver,ATL,1629633
1104,2002,"October 26, 2002",Richie Frahm,POR,2499
3265,2018,"October 13, 2018",Kaiser Gates,CHI,1629232
820,1999,"October 15, 1999",Zendon Hamilton,DAL,1985
1329,2005,"July 5, 2005",Obinna Ekezie,ATL,1918
3197,2018,"October 7, 2018",Chris McCullough,DET,1626191
1233,2003,"February 25, 2004",Dion Glover,ATL,1901
490,1995,"November 27, 1995",Charles Claxton,BOS,1127
2728,2016,"October 22, 2016",Grant Jerrett,POR,203511
49,1990,"December 4, 1990",Eric Johnson,UTA,77145
4788,2023,"January 8, 2024",Josh Christopher,UTA,1630528
3940,2021,"October 2, 2021",Aric Holman,SAS,-3
3509,2019,"October 17, 2019",Reggie Hearn,LAL,203687
2283,2014,"October 25, 2014",Langston Galloway,NYK,204038
1261,2004,"October 20, 2004",Mike Wilks,CHI,2366
3857,2020,"March 26, 2021",Paul Reed,PHI,1630194
2775,2016,"October 23, 2016",Julyan Stone,IND,202933
717,1997,"March 24, 1998",Tony Farmer,CHH,1108
2432,2015,"October 13, 2015",Stefhon Hannah,CHI,-3
3090,2017,"February 8, 2018",Sheldon Mac,ATL,1627815
1455,2007,"July 13, 2007",Alexander Johnson,MEM,200792
1853,2011,"March 19, 2012",J.J. Hickson,SAC,201581
4554,2023,"September 27, 2023",Chris Silva,ATL,1629735
996,2001,"October 8, 2001",Mike Smith,WAS,2065
1250,2004,"September 8, 2004",Greg Buckner,PHI,1761
4763,2023,"December 7, 2023",John Butler,WAS,-3
968,2000,"January 5, 2001",Elliot Perry,PHO,386
3589,2019,"October 19, 2019",Devin Robinson,TOR,1628421
1554,2008,"October 8, 2008",Lance Allred,CLE,200984
397,1994,"November 3, 1994",Willie Burton,MIA,416
129,1991,"November 4, 1991",Carl Thomas,SAC,1063
1399,2006,"August 4, 2006",Pavel Podkolzin,DAL,2750
1936,2012,"October 27, 2012",Coby Karl,POR,201207
1598,2009,"July 10, 2009",Jerry Stackhouse,MEM,711
762,1998,"February 18, 1999",Donny Marshall,MIL,681
3402,2018,"April 4, 2019",Dusty Hannahs,MEM,1628605
2563,2015,"October 26, 2015",Pierre Jackson,PHI,203510
2066,2013,"October 16, 2013",Darius Johnson-Odom,LAL,203130
2426,2015,"October 10, 2015",Arsalan Kazemi,ATL,-3
44,1990,"November 15, 1990",Mark McNamara,ORL,77558
3774,2020,"December 19, 2020",Chasson Randle,OKC,1626184
2989,2017,"October 14, 2017",Kalin Lucas,ORL,203564

In [139]:
unmatched_waivers = waived_data[waived_data['player_id'] < 0]

In [140]:
len(unmatched_waivers)

792

In [141]:
unmatched_waivers.head(100)

      season_start               date      player_name team_abv  player_id
113           1991   October 29, 1991    MiloÅ¡ BabiÄ      MIA         -3
122           1991   October 30, 1991    Michael Smith      BOS         -3
163           1991  December 31, 1991    MiloÅ¡ BabiÄ      MIA         -3
207           1992   October 26, 1992    Michael Smith      MIL         -3
222           1992   November 2, 1992     LaMark Baker      CHH         -3
...            ...                ...              ...      ...        ...
2052          2013    October 2, 2013  Justin Brownlee      NYK         -3
2059          2013    October 9, 2013     Eric Boateng      LAL         -3
2062          2013   October 15, 2013     Myck Kabongo      SAS         -3
2065          2013   October 15, 2013    Brandon Heath      SAC         -3
2067          2013   October 16, 2013     D'or Fischer      WAS         -3

[100 rows x 5 columns]

In [143]:
len(waived_data)

4835

In [145]:
unmatched_waivers.to_csv("unmatched_waivers.csv", index = False)

In [147]:
waived_data.to_csv("waived_data_with_id.csv", index = False)